img{
	display: block;
	margin: 0 auto;
	width: 20%;
}

h4, .btn-primary{
	margin:4px;
}

.panel-body>.viewContent>*, {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	float: none;
}
.panel{
	width: 100%;
	margin:auto;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}