.navbar {
  text-align:center;
}
.navbar-header {
    display:inline-block;
    float:none;
}
.navbar-brand{
	font-size: 25px;
    font-weight: bold;
    color: white;
}
.navbar-default{
	background-image: linear-gradient(#2196F3 0px, #2196F3 100%);
}