<div class="mainpage panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-9">
                <h2> {{title}}</h2>
                <button class ="imgButton" style="background-image:url('{{image}}')"></button>
            </div>
            <div class="col-md-3">
                <h2> {{goodTitle}}</h2>
                <h2> {{goodTitle}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
               <button type="button">{{train}}</button>
            </div>
             <div class="col-md-3">
                <h2> {{improveTitle}}</h2>
                <h2> {{improveTitle}}</h2>
            </div>
        </div>
    </div>
</div>
